@import '/home/justalternate/.cache/wal/colors-waybar.css';


/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
	icon-shadow: none;
}

#waybar {
    font-family: "Source Code Pro";
    font-size: 16px;
    background: rgba(40, 40, 40, 0.8784313725);
}

#window {
    padding: 0 10px;
}

window#waybar {
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    transition-duration: 0s;
    color: @foreground;
    background: @background;
} 

#workspaces {
    margin: 10px 10px;
}

#workspaces button {
    padding: 0px 2px;
    color: @color1;
    min-width: 40px;
}

#workspaces button.visible {
    color: @color2;
}

#workspaces button.active {
  border: 1px solid @color2;
  border-radius: 3px;
}

#workspaces button.urgent {
    background-color: @color3;
    color: white;
}

/* #workspaces button:hover { */
/*     box-shadow: inherit; */
/*     border-color: @color2; */
/*     color: @color1; */
/* } */

/* Repeat style here to ensure properties are overwritten as there's no !important and button:hover above resets the colour */

#workspaces button.focused {
    color: @color2;
}
#workspaces button.focused:hover {
    color: @color3;
}

#pulseaudio {
    /* font-size: 26px; */
}

#custom-recorder {
	font-size: 18px;
	margin: 2px 7px 0px 7px;
	color: @color1;
}


#tray,
#mode,
#battery,
#temperature,
#cpu,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#sway-language,
#backlight,
#custom-storage,
#custom-cpu_speed,
#custom-powermenu,
#custom-spotify,
#custom-weather,
#custom-mail,
#custom-media {
}

#tray,
#mode,
#battery,
#temperature,
#cpu,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#sway-language,
#backlight,
#custom-storage,
#custom-cpu_speed,
#custom-powermenu,
#custom-spotify,
#custom-weather,
#custom-mail,
#custom-media {
    margin: 10px 10px 10px 10px;
    padding: 0px 5px;
    /* border-top: 3px solid rgba(217, 216, 216, 0.5); */
}

/* #clock {
    margin:     0px 16px 0px 10px;
    min-width:  140px;
} */

#battery.warning {
    color: rgba(255, 210, 4, 1);
}

#battery.critical {
    color: rgba(238, 46, 36, 1);
}

#battery.charging {
    color: rgba(217, 216, 216, 1);
}

#custom-storage.warning {
    color: rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color: rgba(238, 46, 36, 1);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}
